@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --light-color: #e8f5e9;
  --light-second: #a5d6a7;
  --light-dark: #66bb6a;
  --dark-color: #1b5e20;
  background-color: var(--light-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

#navbar_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profil_section button:hover,
#sidebar div button:hover {
  background-color: var(--light-dark) !important ;
}

#input {
  background-color: #ddd;
  width: 400px;
  height: 350px;
  padding: 15px;
}

#input div label input {
  z-index: 3;
  border: none;
  padding: 8px;
  outline: none;
}

#input div button {
  background-color: var(--light-second);
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
}

#form_registrasi form,
#form_lupa_sandi form {
  padding: 20px;
  background-color: #ddd;
}
#form_lupa_sandi {
  width: 400px;
}

#form_registrasi form button,
#form_lupa_sandi form button {
  background-color: var(--light-second);
}

#form_lupa_sandi form button {
  padding: 10px;
}

#form_registrasi div input,
#form_lupa_sandi form div input {
  z-index: 3;
  padding: 2px;
  border: none;
  background-color: var(--light-color);
}

#ilustrasi_registrasi,
#lupa_sandi {
  background-color: var(--light-second);
  position: relative;
  width: 100%;
  height: 100%;
}

#ilustrasi_login h1 {
  position: absolute;
  font-size: 42px;
  font-weight: bold;
  top: 350px;
  color: var(--dark-color);
}

#home,
#lokasi,
#keluar {
  background-color: var(--light-color);
  padding: 20px;
}

#lokasi div section,
#lokasi section {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--light-second);
}

#home div section {
  padding: 15px;
  background-color: var(--light-second);
}

#home div section img {
  width: 150px;
  object-fit: cover;
}

#sidebar,
#information,
#keluar section {
  background-color: var(--light-second);
  padding: 10px;
}

#information {
  padding: 20px 10px;
}

#information section {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
}

#analisis,
#kalender,
#pengaturan,
#keluar section {
  padding: 20px;
}

#analisis section {
  background-color: var(--light-second);
}

#profil_section {
  align-items: center;
}

#sidebar div button,
#profil_section button {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: var(--light-second);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home div section button {
  width: 40px;
  height: 40px;
}

#pengaturan section {
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

#pengaturan button {
  background-color: var(--light-color);
  height: 30px;
  width: 100px;
}

#keluar section button {
  background-color: var(--light-color);
}

#analisis {
  margin: 0;
}

#analisis section {
  border-radius: 10px;
  padding: 10px;
}

#analisis h2 {
  font-size: 25px;
  font-weight: bold;
}

#analisis h1 {
  font-size: 18px;
  font-weight: bold;
}

#analisis div button {
  background-color: var(--light-dark);
  padding: 8px 30px;
  transition: all 0.3s ease;
}

#analisis div button:hover {
  background-color: var(--light-color);
}

#analisis #analisis-tab {
  overflow: scroll;
}

#input_search form {
  background-color: var(--light-color);
  border-radius: 10px;
  width: 400px;
}

.react-calendar {
  line-height: 2em !important;
}

#form_search {
  display: flex;
  background-color: var(--light-second);
  justify-content: space-between;
  overflow: hidden;
}

#form_search input {
  width: 100%;
  padding: 5px 15px;
  border: none;
  outline: none;
}

#btn-search {
  background: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ai_button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--light-color);
  transition: all 0.3s ease;
}

#ai_button:hover {
  background-color: var(--light-dark);
  color: white;
}

#make_profil {
  width: 700px;
  padding: 10px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-color);
}

#make_profil form {
  padding: 10px;
}

#make_profil form label {
  background-color: var(--light-second);
  display: flex;
  padding: 5px;
  gap: 10px;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
}

#make_profil button {
  width: 100px;
  height: 30px;
  background-color: var(--light-dark);
}

#profil {
  padding: 20px;
}

#profil h1 {
  font-size: 30px;
  font-weight: bold;
}

#profil div {
  background-color: #ddd;
  padding: 10px;
  border-radius: 10px;
}

#profil div h1 {
  font-size: 20px;
  font-weight: bold;
}

#profil button {
  padding: 10px 20px;
  width: 120px;
  height: 35px;
  text-align: center;
  background-color: var(--light-second);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profil button:hover {
  background-color: var(--light-color);
}
